.alerts-holder {
    width: 350px;
    padding: 20px;
    background: #f03e12;
    border-radius: 10px;
    position: fixed;
    left: 36px;
    bottom: -100px;
    z-index: 999;
    opacity: 0;
    transition: all 0.5s ease;
    &.active {
      opacity: 1;
      bottom: 24px;
    }
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      line-height: 1.2;
      color: #fff;
      .fa {
        margin-right: 20px;
        font-size: 40px;
        color: #fff;
      }
      .text-holder {
        strong {
          display: block;
          margin: 0 0 5px;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
    .btn_close {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 25px;
      text-align: center;
      width: 25px;
      height: 25px;
      background: transparent;
      color: #fff;
      cursor: pointer;
    }
  }